[submodule "void"]
	path = void
	url = git@github.com:machbio/void.git
[submodule "pelican_dynamic"]
	path = pelican_dynamic
	url = git@github.com:machbio/pelican_dynamic.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:machbio/pelican-plugins.git
